# Temperature Prediction Using Dependent Gaussian Data

## License  
This project is released under the **GNU General Public License v3 (GPLv3)**.  
You are free to use, modify, and distribute this code under the terms of the GPLv3 license.  
For more details, see: [GNU GPL v3](https://www.gnu.org/licenses/gpl-3.0.en.html).

## Authors  
- **Mina Sadat Mahmoudi**  
- **Saeed Foroutan**  
- **Seyed Abolfazl Motahari**  
- **Babak Khalaj**  
- Department of Electrical Engineering & Computer Engineering, Sharif University of Technology, Iran  

## Conference & Publication  
This work has been **accepted for presentation at ICASSP 2025**.

---

## Overview  

This notebook presents a **real-world application** of the theoretical results from the paper:  

**"Uniform Convergence of Lipschitz Functions with Dependent Gaussian Samples"**  
(*ICASSP 2025, Sharif University of Technology*)  

### Objective:  
- Predict temperature in **Hyderabad** using **dependent Gaussian data**.  
- Train a **neural network model** to approximate the target function.  
- Compare prediction errors under **different dependency structures**.  

### Methodology:  
- Utilize **temperature data** from the **five nearest cities** to Hyderabad.  
- Apply a **neural network** to predict the temperature.  
- Measure **prediction error decay** with increasing sample size.  

The goal is to analyze how learning from **dependent data** (e.g., correlated temperature readings) affects **generalization performance**.

In [1]:
#Install meteostat if you didn't have already.
pip install meteostat

Collecting meteostat
  Downloading meteostat-1.6.8-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.11/dist-packages (from meteostat) (2.2.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.11/dist-packages (from meteostat) (2025.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from meteostat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.1->meteostat) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.1->meteostat) (1.17.0)
Downloading meteostat-1.6.8-py3-none-any.whl (31 kB)
Installing collected packages: meteostat
Successfully installed meteostat-1.6.8

## Importing Required Libraries  

This notebook utilizes the following libraries for **data processing, modeling, and visualization**:  

- **`pandas`**: For handling structured data and DataFrames.  
- **`numpy`**: For numerical operations and matrix manipulations.  
- **`matplotlib.pyplot`**: For plotting and visualizing temperature trends.  
- **`datetime`**: For handling time-based data processing.  
- **`torch`**: Deep learning framework (PyTorch) for building neural networks.  
- **`torch.nn`**: For defining and training neural network models.  
- **`torch.optim`**: Optimization algorithms like Adam for training.  
- **`meteostat`**: To retrieve historical weather data from meteorological stations.  

These libraries support the implementation of **temperature prediction** using **deep learning models** and **historical weather data**.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import torch
import torch.nn as nn
import torch.optim as optim
from meteostat import Stations, Daily, Point
from sklearn.preprocessing import MinMaxScaler

In [ ]:

# --------------------------------------------------------------------
# 1. Define a deeper neural network with more layers and neurons
# --------------------------------------------------------------------
class DeepNN(nn.Module):
    """
    # This is a feedforward deep neural network with 7 fully connected layers,
    # each followed by a ReLU activation, except the final output layer.
    #
    # The architecture is designed for single-input, single-output prediction tasks
    # and features increasing then decreasing hidden dimensions to capture
    # complex relationships effectively.

    Description:
        The DeepNN class provides a deep feedforward neural network built using
        fully connected layers. Each layer is followed by a ReLU activation
        to introduce non-linearity, except for the last output layer. This design
        is suitable for various regression or binary classification tasks when
        adapted appropriately.

    Attributes:
        fc1 (nn.Linear): Linear layer mapping from 1 input feature to 128 hidden features.
        fc2 (nn.Linear): Linear layer mapping from 128 hidden features to 256 hidden features.
        fc3 (nn.Linear): Linear layer mapping from 256 hidden features to 512 hidden features.
        fc4 (nn.Linear): Linear layer mapping from 512 hidden features to 256 hidden features.
        fc5 (nn.Linear): Linear layer mapping from 256 hidden features to 128 hidden features.
        fc6 (nn.Linear): Linear layer mapping from 128 hidden features to 64 hidden features.
        fc7 (nn.Linear): Output layer mapping from 64 hidden features to 1 output value.

    Forward:
        Args:
            x (torch.Tensor): The input tensor containing a single feature.
        Returns:
            torch.Tensor: The model's output tensor, representing the predicted value.
    """
    def __init__(self):
        super(DeepNN, self).__init__()
        self.fc1 = nn.Linear(1, 128)   # Input layer (1 feature) -> first hidden layer
        self.fc2 = nn.Linear(128, 256)
        self.fc3 = nn.Linear(256, 512)
        self.fc4 = nn.Linear(512, 256)
        self.fc5 = nn.Linear(256, 128)
        self.fc6 = nn.Linear(128, 64)
        self.fc7 = nn.Linear(64, 1)    # Output layer (1 target)

    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = torch.relu(self.fc3(x))
        x = torch.relu(self.fc4(x))
        x = torch.relu(self.fc5(x))
        x = torch.relu(self.fc6(x))
        x = self.fc7(x)
        return x

## Deep Neural Network for Temperature Prediction

This section implements a **deep feedforward neural network** to model temperature predictions based on dependent weather data.

### 1Ô∏è‚É£ **`DeepNN` Class**
- A **7-layer neural network** with **fully connected (FC) layers** and **ReLU activations**.
- Designed to **capture complex temperature dependencies** effectively.
- **Architecture**:
  - Input: **1 feature** (temperature data from nearby locations).
  - Hidden layers: **128 ‚Üí 256 ‚Üí 512 ‚Üí 256 ‚Üí 128 ‚Üí 64 neurons**.
  - Output: **1 neuron** (predicted temperature value).

### 2Ô∏è‚É£ **Helper Functions**
- **`tensorize(arr)`**: Converts NumPy arrays into PyTorch tensors.
- **`custom_loss(output, target)`**: Computes the **Mean Absolute Error (MAE)**.
- **`train_model(x, y, model, optimizer, num_epochs=2000)`**:
  - Trains the **DeepNN** model using **Adam optimizer**.
  - Prints **loss** every 100 epochs for monitoring.
- **`predict(model, input_array)`**:
  - Converts input to tensors and generates predictions using the trained model.

This deep learning approach enables us to **learn and generalize** from temperature data under different **dependency conditions**.

In [ ]:
# --------------------------------------------------------------------
# 2. Helper functions (tensorize, custom_loss, train_model, predict)
# --------------------------------------------------------------------
def tensorize(arr):
    """
    Convert a numpy array to a float32 PyTorch tensor, shaped (n_samples, 1).
    """
    return torch.tensor(arr, dtype=torch.float32).view(-1, 1)

# Mean absolute error
def custom_loss(output, target):
    return torch.mean(torch.abs(output - target))

def train_model(x, y, model, optimizer, num_epochs=2000):
    """
    x, y: numpy arrays
    model: a PyTorch nn.Module
    optimizer: e.g., torch.optim.Adam(model.parameters(), lr=1e-4)
    """
    # Convert numpy arrays to PyTorch tensors
    x_tensor = tensorize(x)
    y_tensor = tensorize(y)

    for epoch in range(num_epochs):
        model.train()
        # Forward pass
        outputs = model(x_tensor)
        loss = custom_loss(outputs, y_tensor)

        # Backward pass
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        if (epoch + 1) % 100 == 0:
            print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')

    return model

def predict(model, input_array):
    """
    input_array: a numpy array
    """
    model.eval()
    input_tensor = tensorize(input_array)
    output = model(input_tensor).detach().numpy()
    return output

# Fetching and Preparing Temperature Data for Hyderabad  

## Overview  
This section retrieves **historical temperature data** from **Meteostat** for **Hyderabad, India**, and its surrounding weather stations. The goal is to construct a **reliable dataset** by aggregating nearby station data, handling missing values, and preparing training and testing sets for temperature prediction.

---

## 1Ô∏è‚É£ Finding Nearby Weather Stations  
- **Hyderabad coordinates**: `(Latitude: 17.3850, Longitude: 78.4867)`.  
- Using **Meteostat's `Stations()` API**, we retrieve the **10 nearest weather stations**.  
- **First two stations** are **inside Hyderabad**, so they are ignored.  
- The **next 5 closest stations** are selected for temperature aggregation.

---

## 2Ô∏è‚É£ Fetching Daily Temperature Data (`tavg`)  
- **Training period**: **April 1, 2021** ‚Üí **Present**  
- **Testing period**: **April 1, 2022** ‚Üí **Present**  
- We retrieve **daily average temperature (`tavg`)** from the **selected 5 stations**.  
- The **Meteostat `Daily()` API** is used to fetch temperature records.

---

## 3Ô∏è‚É£ Constructing the Combined Dataset  
- **Temperature data from 5 stations** is combined into a **single DataFrame**.  
- A new column **`avg_5_stations`** is created by computing the **mean temperature** of the selected stations.  
- **Hyderabad's actual temperature (`Hyderabad_tavg`)** is retrieved separately from the **nearest station**.

---

## 4Ô∏è‚É£ Handling Missing Values  
- Some stations may have missing temperature data (`NaN`).  
- **Interpolation Strategy**:
  - **For missing station values**: Fill them with the corresponding **`avg_5_stations`** value for that day.  
  - Ensures **data completeness** without introducing artificial fluctuations.

---

## 5Ô∏è‚É£ Data Cleaning and Final Preparation  
- **Remove rows** where both `avg_5_stations` and `Hyderabad_tavg` are missing.  
- **Test dataset**:
  - Extracted for the period **April 2022 ‚Üí Present**.  
  - **Downsampled** to include **1 data point every 10 days**, ensuring a **minimum gap of 3 days** between test samples.  

---

## üî• Key Takeaways  
‚úÖ **Uses real-world weather data for model training.**  
‚úÖ **Constructs a robust dataset by aggregating multiple stations.**  
‚úÖ **Handles missing values with intelligent interpolation.**  
‚úÖ **Prepares a well-structured test set for performance evaluation.**

In [ ]:

# --------------------------------------------------------------------
# 3. Fetch daily temperature data using Meteostat
# --------------------------------------------------------------------
# Coordinates for Hyderabad, India
HYD_LAT, HYD_LON = 17.3850, 78.4867
# Set the test period
train_start = datetime(2021, 4, 1)
test_start = datetime(2022, 4, 1)
test_end = datetime.today()

In [ ]:
# (a) Find the 10 nearest weather stations
stations_nearby = Stations()
stations_nearby = stations_nearby.nearby(HYD_LAT, HYD_LON)
stations_df = stations_nearby.fetch(limit=10)
print("Top 10 nearby stations:\n", stations_df)

Top 10 nearby stations:
                             name country region    wmo  icao  latitude  \
id
43128          Hyderabad Airport      IN     AP  43128  VOHY   17.4500
VOHS0  Hyderabad / Anthredigudam      IN     AP   <NA>  VOHS   17.2406
43083                      Medak      IN     AP  43083  <NA>   18.0500
43168               Mahabubnagar      IN     AP  43168  <NA>   16.7500
43133                   Nalgonda      IN     AP  43133  <NA>   17.0000
43125              Bidar Airport      IN     KA  43125  VOBR   17.9167
43087                 Hanamkonda      IN     AP  43087  <NA>   18.0167
43177              Rentachintala      IN     AP  43177  <NA>   16.5500
43081                  Nizamabad      IN     AP  43081  <NA>   18.6667
43076                      Udgir      IN     KA  43076  <NA>   18.0667

       longitude  elevation      timezone hourly_start hourly_end daily_start  \
id
43128    78.4667      530.0  Asia/Kolkata   1944-01-01 2025-01-10  1901-01-01
VOHS0    78.4289      617.0  Asia/Kolkata   2011-10-15 2025-01-10  2015-12-19
43083    78.2667      472.0  Asia/Kolkata   1987-09-05 2024-09-13  1933-01-01
43168    78.0000      504.0  Asia/Kolkata   2009-02-05 2024-11-17         NaT
43133    79.2500        0.0  Asia/Kolkata   1977-10-19 2024-11-17  1901-01-01
43125    77.5333      663.0  Asia/Kolkata   1944-07-01 2024-11-16  1901-01-02
43087    79.5667      266.0  Asia/Kolkata   1944-01-01 2024-11-17  1901-01-01
43177    79.5500      104.0  Asia/Kolkata   1944-01-01 2024-11-17  1936-04-15
43081    78.1000      379.0  Asia/Kolkata   1944-01-01 2024-09-13  1901-01-01
43076    77.1167      639.0  Asia/Kolkata   2015-12-08 2024-11-15         NaT

       daily_end monthly_start monthly_end       distance
id
43128 2024-12-25    1901-01-01  2022-01-01    7532.715656
VOHS0 2022-04-25    2020-01-01  2022-01-01   17189.001262
43083 1970-12-30    1933-01-01  1970-01-01   77529.411822
43168        NaT           NaT         NaT   87533.370066
43133 1970-12-31    1901-01-01  1970-01-01   91689.971690
43125 1970-12-31    1902-01-01  1970-01-01  117050.623523
43087 1970-12-31    1901-01-01  1970-01-01  134246.887933
43177 1970-12-31    1936-01-01  1970-01-01  146318.269006
43081 2024-12-04    1901-01-01  2021-01-01  148267.713719
43076        NaT           NaT         NaT  163709.634554

In [ ]:
station_ids = stations_df.index  # Each row's index is the station ID

In [ ]:
# We are going to use the first 5 closest stations. the first and second stations are located inside the heydarabad so we ignore them.

stations_df = stations_df.iloc[2:7]
main_station_ids = stations_df.index.tolist()
stations_df

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
43083,Medak,IN,AP,43083,<NA>,18.0500,78.2667,472.0,Asia/Kolkata,1987-09-05,2024-09-13,1933-01-01,1970-12-30,1933-01-01,1970-01-01,77529.411822
43168,Mahabubnagar,IN,AP,43168,<NA>,16.7500,78.0000,504.0,Asia/Kolkata,2009-02-05,2024-11-17,NaT,NaT,NaT,NaT,87533.370066
43133,Nalgonda,IN,AP,43133,<NA>,17.0000,79.2500,0.0,Asia/Kolkata,1977-10-19,2024-11-17,1901-01-01,1970-12-31,1901-01-01,1970-01-01,91689.971690
43125,Bidar Airport,IN,KA,43125,VOBR,17.9167,77.5333,663.0,Asia/Kolkata,1944-07-01,2024-11-16,1901-01-02,1970-12-31,1902-01-01,1970-01-01,117050.623523
43087,Hanamkonda,IN,AP,43087,<NA>,18.0167,79.5667,266.0,Asia/Kolkata,1944-01-01,2024-11-17,1901-01-01,1970-12-31,1901-01-01,1970-01-01,134246.887933

In [ ]:
# Debugging print statements
print(f"train_start: {train_start}, test_end: {test_end}")

# Fetch daily temperature data (tavg) for these 5 stations
temp_data_list = []

for sid in main_station_ids:
    daily_data = Daily(sid, train_start, test_end)
    df_daily = daily_data.fetch()
    print(f"sid is {sid} and df_daily is {df_daily}")
    # We only need the 'tavg' (average daily temperature)
    temp_data_list.append(df_daily['tavg'])

temp_data_list

train_start: 2021-04-01 00:00:00, test_end: 2025-01-11 08:58:28.795586

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

sid is 43083 and df_daily is             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2021-04-01  28.7  21.3  36.4   0.0   NaN  285.0   7.8   NaN  1004.9   NaN
2021-04-02  27.7  19.8  36.2   0.0   NaN  285.0   7.1   NaN  1005.6   NaN
2021-04-03  28.6  20.0  36.1   0.0   NaN  324.0   4.8   NaN  1006.0   NaN
2021-04-04  28.1  21.9  36.1   0.0   NaN  127.0   7.1   NaN  1007.8   NaN
2021-04-05  27.5  21.0  34.6   0.0   NaN   98.0   6.5   NaN  1008.9   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-07  21.0  15.7  28.1   0.0   NaN   89.0   8.3   NaN  1014.0   NaN
2025-01-08  20.0  15.4  25.9   0.0   NaN   62.0   9.8   NaN  1014.5   NaN
2025-01-09  19.3  13.9  25.8   0.0   NaN   77.0  11.0   NaN  1015.5   NaN
2025-01-10  20.1  15.3  25.9   0.0   NaN  107.0  10.4   NaN  1016.9   NaN
2025-01-11  20.4  16.0  26.4   0.0   NaN  125.0  12.2   NaN  1016.3   NaN

[1370 rows x 10 columns]
sid is 43168 and df_daily is             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2021-04-01  30.6  23.5  37.6   0.0   NaN  337.0  11.3   NaN  1004.7   NaN
2021-04-02  29.8  23.5  36.8   0.0   NaN  317.0  11.2   NaN  1005.5   NaN
2021-04-03  30.7  23.2  37.5   0.0   NaN  277.0   6.7   NaN  1006.0   NaN
2021-04-04  30.0  22.7  37.1   0.0   NaN  113.0   9.5   NaN  1008.0   NaN
2021-04-05  29.4  22.9  35.2   0.0   NaN   77.0   9.7   NaN  1009.4   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-07  22.3  16.4  29.2   0.0   NaN   64.0   9.2   NaN  1013.8   NaN
2025-01-08  21.7  16.6  27.9   0.0   NaN   58.0  12.9   NaN  1013.9   NaN
2025-01-09  20.9  15.8  26.7   0.0   NaN   76.0  15.0   NaN  1015.1   NaN
2025-01-10  21.3  15.8  28.3   0.0   NaN   95.0  14.8   NaN  1016.4   NaN
2025-01-11  21.6  16.6  27.7   0.0   NaN   94.0  14.6   NaN  1016.0   NaN

[1370 rows x 10 columns]

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

sid is 43133 and df_daily is             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2021-07-06  31.5  26.3  37.2   0.8   NaN  282.0   5.4   NaN  1004.2   NaN
2021-07-07  30.7  28.0  37.1   7.9   NaN  265.0   5.5   NaN  1004.1   NaN
2021-07-08  28.4  26.9  34.0  11.0   NaN  289.0   6.8   NaN  1004.7   NaN
2021-07-09  29.0  25.8  33.8   6.7   NaN  271.0   6.4   NaN  1003.0   NaN
2021-07-10  29.4  26.3  33.8   7.7   NaN  266.0   7.8   NaN  1001.7   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-07  24.5  18.8  31.0   0.0   NaN   59.0   7.1   NaN  1013.3   NaN
2025-01-08  23.8  17.7  30.2   0.0   NaN   16.0  10.8   NaN  1013.6   NaN
2025-01-09  23.9  18.1  29.9   0.0   NaN   72.0   9.2   NaN  1014.9   NaN
2025-01-10  24.3  18.4  30.4   0.0   NaN  104.0   9.2   NaN  1016.2   NaN
2025-01-11  24.1  18.1  30.0   0.0   NaN  122.0  10.5   NaN  1016.0   NaN

[1274 rows x 10 columns]

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

sid is 43125 and df_daily is             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2021-04-01  30.5  23.1  37.8   0.0   NaN  328.0  10.3   NaN  1005.2   NaN
2021-04-02  29.8  22.6  37.0   0.0   NaN  319.0   8.5   NaN  1005.8   NaN
2021-04-03  30.9  22.2  38.1   0.0   NaN  298.0   6.9   NaN  1006.2   NaN
2021-04-04  31.0  24.0  37.8   0.0   NaN    1.0  11.0   NaN  1008.1   NaN
2021-04-05  29.9  22.4  36.4   0.0   NaN   64.0   8.8   NaN  1009.3   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-07  21.7  16.0  27.9   0.0   NaN   95.0   8.8   NaN  1014.0   NaN
2025-01-08  20.3  15.9  26.0   0.0   NaN   59.0  10.4   NaN  1014.7   NaN
2025-01-09  19.7  14.2  26.0   0.0   NaN   95.0  10.9   NaN  1015.5   NaN
2025-01-10  20.7  15.9  26.0   0.0   NaN  111.0  11.9   NaN  1016.6   NaN
2025-01-11  21.9  16.8  28.0   0.0   NaN  136.0  12.9   NaN  1015.7   NaN

[1370 rows x 10 columns]

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

sid is 43087 and df_daily is             tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2021-04-01  31.3  23.0  39.4   0.0   NaN  311.0   8.9   NaN  1003.0   NaN
2021-04-02  31.0  23.6  39.1   0.0   NaN  305.0   7.2   NaN  1003.9   NaN
2021-04-03  31.2  23.6  38.9   0.0   NaN  141.0   6.9   NaN  1005.0   NaN
2021-04-04  31.3  25.3  37.9   0.0   NaN  170.0   7.2   NaN  1006.9   NaN
2021-04-05  30.7  24.2  37.7   0.0   NaN  151.0   7.5   NaN  1008.3   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-07  22.1  15.8  28.4   0.0   NaN  292.0   7.5   NaN  1013.6   NaN
2025-01-08  20.5  15.9  26.4   0.0   NaN  351.0  10.2   NaN  1014.3   NaN
2025-01-09  20.5  13.9  26.8   0.0   NaN    2.0   6.3   NaN  1015.3   NaN
2025-01-10  21.6  16.0  27.3   0.0   NaN  146.0   6.8   NaN  1016.6   NaN
2025-01-11  21.7  16.6  27.1   0.0   NaN  165.0  10.1   NaN  1016.2   NaN

[1370 rows x 10 columns]

[time
 2021-04-01    28.7
 2021-04-02    27.7
 2021-04-03    28.6
 2021-04-04    28.1
 2021-04-05    27.5
               ...
 2025-01-07    21.0
 2025-01-08    20.0
 2025-01-09    19.3
 2025-01-10    20.1
 2025-01-11    20.4
 Name: tavg, Length: 1370, dtype: float64,
 time
 2021-04-01    30.6
 2021-04-02    29.8
 2021-04-03    30.7
 2021-04-04    30.0
 2021-04-05    29.4
               ...
 2025-01-07    22.3
 2025-01-08    21.7
 2025-01-09    20.9
 2025-01-10    21.3
 2025-01-11    21.6
 Name: tavg, Length: 1370, dtype: float64,
 time
 2021-07-06    31.5
 2021-07-07    30.7
 2021-07-08    28.4
 2021-07-09    29.0
 2021-07-10    29.4
               ...
 2025-01-07    24.5
 2025-01-08    23.8
 2025-01-09    23.9
 2025-01-10    24.3
 2025-01-11    24.1
 Name: tavg, Length: 1274, dtype: float64,
 time
 2021-04-01    30.5
 2021-04-02    29.8
 2021-04-03    30.9
 2021-04-04    31.0
 2021-04-05    29.9
               ...
 2025-01-07    21.7
 2025-01-08    20.3
 2025-01-09    19.7
 2025-01-10    20.7
 2025-01-11    21.9
 Name: tavg, Length: 1370, dtype: float64,
 time
 2021-04-01    31.3
 2021-04-02    31.0
 2021-04-03    31.2
 2021-04-04    31.3
 2021-04-05    30.7
               ...
 2025-01-07    22.1
 2025-01-08    20.5
 2025-01-09    20.5
 2025-01-10    21.6
 2025-01-11    21.7
 Name: tavg, Length: 1370, dtype: float64]

In [ ]:
daily_data = Daily(43125, train_start, test_end)
df_daily = daily_data.fetch()
df_daily

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2021-04-01  30.5  23.1  37.8   0.0   NaN  328.0  10.3   NaN  1005.2   NaN
2021-04-02  29.8  22.6  37.0   0.0   NaN  319.0   8.5   NaN  1005.8   NaN
2021-04-03  30.9  22.2  38.1   0.0   NaN  298.0   6.9   NaN  1006.2   NaN
2021-04-04  31.0  24.0  37.8   0.0   NaN    1.0  11.0   NaN  1008.1   NaN
2021-04-05  29.9  22.4  36.4   0.0   NaN   64.0   8.8   NaN  1009.3   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-07  21.7  16.0  27.9   0.0   NaN   95.0   8.8   NaN  1014.0   NaN
2025-01-08  20.3  15.9  26.0   0.0   NaN   59.0  10.4   NaN  1014.7   NaN
2025-01-09  19.7  14.2  26.0   0.0   NaN   95.0  10.9   NaN  1015.5   NaN
2025-01-10  20.7  15.9  26.0   0.0   NaN  111.0  11.9   NaN  1016.6   NaN
2025-01-11  21.9  16.8  28.0   0.0   NaN  136.0  12.9   NaN  1015.7   NaN

[1370 rows x 10 columns]

In [ ]:
# Combine into one DataFrame
df_combined = pd.concat(temp_data_list, axis=1)
df_combined.columns = [f"station_{i}" for i in range(len(main_station_ids))]
df_combined

            station_0  station_1  station_2  station_3  station_4
time
2021-04-01       28.7       30.6        NaN       30.5       31.3
2021-04-02       27.7       29.8        NaN       29.8       31.0
2021-04-03       28.6       30.7        NaN       30.9       31.2
2021-04-04       28.1       30.0        NaN       31.0       31.3
2021-04-05       27.5       29.4        NaN       29.9       30.7
...               ...        ...        ...        ...        ...
2025-01-07       21.0       22.3       24.5       21.7       22.1
2025-01-08       20.0       21.7       23.8       20.3       20.5
2025-01-09       19.3       20.9       23.9       19.7       20.5
2025-01-10       20.1       21.3       24.3       20.7       21.6
2025-01-11       20.4       21.6       24.1       21.9       21.7

[1370 rows x 5 columns]

In [ ]:
# Compute the mean of these 5 stations -> 'avg_5_stations'
df_combined['avg_5_stations'] = df_combined.mean(axis=1)
df_combined

,station_0,station_1,station_2,station_3,station_4,avg_5_stations
time,,,,,,
2021-04-01,28.7,30.6,NaN,30.5,31.3,30.275
2021-04-02,27.7,29.8,NaN,29.8,31.0,29.575
2021-04-03,28.6,30.7,NaN,30.9,31.2,30.350
2021-04-04,28.1,30.0,NaN,31.0,31.3,30.100
2021-04-05,27.5,29.4,NaN,29.9,30.7,29.375
...,...,...,...,...,...,...
2025-01-07,21.0,22.3,24.5,21.7,22.1,22.320
2025-01-08,20.0,21.7,23.8,20.3,20.5,21.260
2025-01-09,19.3,20.9,23.9,19.7,20.5,20.860
2025-01-10,20.1,21.3,24.3,20.7,21.6,21.600
2025-01-11,20.4,21.6,24.1,21.9,21.7,21.940

In [ ]:
# (c) Fetch daily temperature data specifically for Hyderabad
hyderabad_station_id = station_ids[0]
daily_data_hyd = Daily(hyderabad_station_id, train_start, test_end)
df_hyd = daily_data_hyd.fetch()
df_hyd

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2021-04-01  31.2  22.2  39.9   NaN   NaN  324.0   4.9   NaN  1003.0   NaN
2021-04-02  29.8  23.1  39.1   NaN   NaN  323.0   5.2   NaN  1003.0   NaN
2021-04-03  32.0  24.0  39.3   NaN   NaN  353.0   3.1   NaN  1004.2   NaN
2021-04-04  30.3  24.0  40.1   NaN   NaN   32.0   3.5   NaN  1006.2   NaN
2021-04-05  30.0  25.4  38.2   NaN   NaN   83.0   5.9   NaN  1007.5   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-07  22.3  14.0  29.0   0.0   NaN   59.0   6.8   NaN  1015.1   NaN
2025-01-08  21.6  14.0  28.0   0.0   NaN    NaN   6.1   NaN  1015.8   NaN
2025-01-09  20.8  13.0  26.0   0.0   NaN   87.0   6.6   NaN  1016.8   NaN
2025-01-10  21.9  17.1  27.0   0.0   NaN   99.0   7.7   NaN  1017.9   NaN
2025-01-11  22.0  18.3  26.4   0.0   NaN  123.0   4.6   NaN  1015.8   NaN

[1382 rows x 10 columns]

In [ ]:
# We'll use 'tavg' to represent Hyderabad's actual temperature
df_combined['Hyderabad_tavg'] = df_hyd['tavg']

In [ ]:
df_combined

,station_0,station_1,station_2,station_3,station_4,avg_5_stations,Hyderabad_tavg
time,,,,,,,
2021-04-01,28.7,30.6,NaN,30.5,31.3,30.275,31.2
2021-04-02,27.7,29.8,NaN,29.8,31.0,29.575,29.8
2021-04-03,28.6,30.7,NaN,30.9,31.2,30.350,32.0
2021-04-04,28.1,30.0,NaN,31.0,31.3,30.100,30.3
2021-04-05,27.5,29.4,NaN,29.9,30.7,29.375,30.0
...,...,...,...,...,...,...,...
2025-01-07,21.0,22.3,24.5,21.7,22.1,22.320,22.3
2025-01-08,20.0,21.7,23.8,20.3,20.5,21.260,21.6
2025-01-09,19.3,20.9,23.9,19.7,20.5,20.860,20.8
2025-01-10,20.1,21.3,24.3,20.7,21.6,21.600,21.9
2025-01-11,20.4,21.6,24.1,21.9,21.7,21.940,22.0

In [ ]:
# prompt: Using dataframe df_combined: I want to interpolate in case the fill all of the Nan values. in any point that it is Nan put the value of avg_5_stations for that point

# Iterate over each column representing a station
for col in ['station_0', 'station_1', 'station_2', 'station_3', 'station_4']:
    # Fill NaN values in the current station column with the corresponding 'avg_5_stations' value
    df_combined[col] = df_combined[col].fillna(df_combined['avg_5_stations'])

# Display the first few rows of the updated dataframe to verify the changes
df_combined.head()

,station_0,station_1,station_2,station_3,station_4,avg_5_stations,Hyderabad_tavg
time,,,,,,,
2021-04-01,28.7,30.6,30.275,30.5,31.3,30.275,31.2
2021-04-02,27.7,29.8,29.575,29.8,31.0,29.575,29.8
2021-04-03,28.6,30.7,30.350,30.9,31.2,30.350,32.0
2021-04-04,28.1,30.0,30.100,31.0,31.3,30.100,30.3
2021-04-05,27.5,29.4,29.375,29.9,30.7,29.375,30.0

In [ ]:
# (d) Remove rows with missing values
df_combined.dropna(subset=['avg_5_stations', 'Hyderabad_tavg'], inplace=True)
df_combined

,station_0,station_1,station_2,station_3,station_4,avg_5_stations,Hyderabad_tavg
time,,,,,,,
2021-04-01,28.7,30.6,30.275,30.5,31.3,30.275,31.2
2021-04-02,27.7,29.8,29.575,29.8,31.0,29.575,29.8
2021-04-03,28.6,30.7,30.350,30.9,31.2,30.350,32.0
2021-04-04,28.1,30.0,30.100,31.0,31.3,30.100,30.3
2021-04-05,27.5,29.4,29.375,29.9,30.7,29.375,30.0
...,...,...,...,...,...,...,...
2025-01-07,21.0,22.3,24.500,21.7,22.1,22.320,22.3
2025-01-08,20.0,21.7,23.800,20.3,20.5,21.260,21.6
2025-01-09,19.3,20.9,23.900,19.7,20.5,20.860,20.8
2025-01-10,20.1,21.3,24.300,20.7,21.6,21.600,21.9
2025-01-11,20.4,21.6,24.100,21.9,21.7,21.940,22.0

In [ ]:
# Test set
test_data = df_combined.loc[test_start:test_end]
test_data = test_data.iloc[::10]  # Ensure a minimum distance of 3 days
test_data

,station_0,station_1,station_2,station_3,station_4,avg_5_stations,Hyderabad_tavg
time,,,,,,,
2022-04-01,29.2,30.4,32.6,30.8,31.1,30.82,30.4
2022-04-11,30.2,30.1,32.3,31.7,31.1,31.08,31.2
2022-04-21,31.2,30.9,33.4,32.5,32.0,32.00,31.1
2022-05-01,31.6,33.0,35.2,33.4,34.0,33.44,32.8
2022-05-11,29.2,26.7,28.1,30.7,29.2,28.78,27.6
...,...,...,...,...,...,...,...
2024-11-26,21.3,22.3,25.5,20.1,21.4,22.12,22.4
2024-12-06,24.4,24.5,26.4,23.4,25.0,24.74,25.5
2024-12-18,19.3,22.2,24.6,20.0,21.0,21.42,22.0
2024-12-28,22.5,23.1,24.9,22.7,23.3,23.30,23.5
2025-01-07,21.0,22.3,24.5,21.7,22.1,22.32,22.3

## Training and Evaluating the Neural Network Model  

This section **trains and evaluates** the deep neural network on different training set sizes to predict **Hyderabad's temperature** using the **average temperature of 5 nearby stations**.

---

### 1Ô∏è‚É£ **Feature Scaling**
- **MinMaxScaler** is applied to **normalize** both `X` (input) and `y` (target) values.
- **Why?** Scaling improves the convergence of the neural network during training.

---

### 2Ô∏è‚É£ **Training Data Sizes**
To evaluate the model's performance over different training periods, we experiment with:  
- **7 days** (~1 week of training data)  
- **30 days** (~1 month of training data)  
- **365 days** (~1 year of training data)  

For each training size:  
- **Training set (`X_train, y_train`)** is taken from the first `size` days.  
- **Test set (`X_test, y_test`)** remains the same (independent test set).  

---

### 3Ô∏è‚É£ **Neural Network Training**
- A **Deep Neural Network (`DeepNN`)** is initialized for each training size.  
- **Adam optimizer (`lr = 1e-4`)** is used for training.  
- **Training runs for 500 epochs** to ensure convergence.  

---

### 4Ô∏è‚É£ **Prediction and Error Calculation**
- The model **predicts temperatures** for the test set.  
- **Inverse transformation** is applied to convert predictions back to original temperature values.  
- The **Average Absolute Risk Error (AARE)** is computed:
$$
  \text{AARE} = \frac{1}{N} \sum | y_{\text{pred}} - y_{\text{true}} |
$$
- This metric evaluates how well the model generalizes to unseen test data.

---

### 5Ô∏è‚É£ **Results Summary**
- The **final results** display the **Average Absolute Risk Error** for each training period.
- Helps analyze the **impact of training data size** on prediction accuracy.

---

## üî• Key Takeaways
‚úÖ **Uses real-world temperature data to train a deep learning model.**  
‚úÖ **Compares model performance across different training sizes.**  
‚úÖ **Evaluates generalization error using a structured test set.**  
‚úÖ **Applies feature scaling for better convergence.**

In [ ]:


# Initialize scalers for X and y
scaler_X = MinMaxScaler()
scaler_y = MinMaxScaler()

X_test_main = test_data[['avg_5_stations']].values
y_test_main = test_data['Hyderabad_tavg'].values

In [ ]:
# Train and test for different training set sizes
train_sizes = [7, 30, 365]  # Approx. 5, 8, 10 years of training data
avg_abs_risk_errors = []

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Initialize scalers for X and y
scaler_X = MinMaxScaler()
scaler_y = MinMaxScaler()

for size in train_sizes:
    train_data = df_combined.iloc[:size]
    test_data = df_combined.iloc[size:]  # Ensure test data is taken from a separate slice

    X_train = train_data[['avg_5_stations']].values
    y_train = train_data['Hyderabad_tavg'].values  # Make y_train 2D for the scaler


    # Fit scalers on training data and transform both train and test
    X_train = scaler_X.fit_transform(X_train)
    y_train = scaler_y.fit_transform(y_train.reshape(-1, 1)).flatten()
    X_test = scaler_X.transform(X_test_main)  # Use the same scaler fitted on training data
    y_test = scaler_y.transform(y_test_main.reshape(-1, 1)).flatten()

    print(f"Normalized X_train is {X_train}")
    print(f"Normalized y_train is {y_train}")

    # Define and train model
    model = DeepNN()
    optimizer = optim.Adam(model.parameters(), lr=1e-4)
    trained_model = train_model(X_train, y_train, model, optimizer, num_epochs=500)

    # Predict and calculate average absolute risk error
    y_pred = predict(trained_model, X_test).flatten()

    # Inverse transform predictions and true values for error calculation
    y_pred_inverse = scaler_y.inverse_transform(y_pred.reshape(-1, 1)).flatten()
    y_test_inverse = scaler_y.inverse_transform(y_test.reshape(-1, 1)).flatten()

    print(f"y_pred_inverse is {y_pred_inverse}")
    print(f"y_test_inverse is {y_test_inverse}")

    avg_abs_risk_error = np.mean(np.abs(y_pred_inverse - y_test_inverse))
    avg_abs_risk_errors.append(avg_abs_risk_error)

    print(f"Train size: {size}, Average Absolute Risk Error: {avg_abs_risk_error:.4f}")

    # Free up memory
    model, optimizer, trained_model = 0, 0, 0


# Summary of results
for size, error in zip(train_sizes, avg_abs_risk_errors):
    print(f"Train size: {size} days -> Average Absolute Risk Error: {error:.4f}")

Normalized X_train is [[0.92307692]
 [0.20512821]
 [1.        ]
 [0.74358974]
 [0.        ]
 [0.64102564]
 [0.41025641]]
Normalized y_train is [0.63636364 0.         1.         0.22727273 0.09090909 0.40909091
 0.40909091]
Epoch [100/500], Loss: 0.1271
Epoch [200/500], Loss: 0.1106
Epoch [300/500], Loss: 0.0964
Epoch [400/500], Loss: 0.0857
Epoch [500/500], Loss: 0.0646
y_pred_inverse is [32.869152 33.38571  35.15439  37.877995 30.223383 29.861118 35.15439
 30.065987 30.555414 30.465706 31.005722 30.750336 30.582073 30.58726
 30.536175 30.634766 30.870277 30.821196 30.753078 30.82932  30.842897
 31.102854 30.989513 31.23787  31.167677 31.229765 31.21896  30.807636
 31.483185 31.105556 31.003021 30.807636 30.785952 30.626572 30.454706
 31.03539  30.270033 30.354103 34.69971  30.487984 29.929043 35.646984
 35.267845 35.30566  36.626137 30.432434 30.558123 30.659525 30.938255
 30.44369  30.454706 30.547283 30.758564 30.544535 30.739363 30.566221
 30.457432 30.77776  30.618439 30.769535 30.919329 30.821196 31.210855
 31.175774 31.097452 30.823906 30.755823 30.82932  30.711885 30.552706
 30.348297 31.927864 30.157907 35.15439  30.311544 35.07871  38.713505
 33.894558 30.670338 38.827545 30.501968 30.266222 30.53052  30.421202
 30.769535 30.519093 30.476803 30.49917  30.717384 30.618439 30.605356
 30.610527 30.670542 30.698124 30.79679  30.739363 31.162275 30.807636
 31.256765 31.003021 31.13527 ]
y_test_inverse is [30.4 31.2 31.1 32.8 27.6 27.6 31.8 29.3 26.7 25.1 21.1 22.3 25.2 25.7
 27.4 27.1 22.8 23.3 26.  25.1 25.9 24.  24.2 22.2 23.  22.2 22.9 26.3
 20.6 24.8 23.3 26.7 25.8 27.3 27.4 24.5 29.8 29.2 32.2 28.4 30.7 32.6
 32.8 32.4 32.9 26.9 27.  26.2 23.3 27.9 27.6 27.7 24.3 27.3 25.2 27.7
 27.6 24.3 26.6 25.5 23.5 23.9 21.7 21.3 22.4 24.8 25.5 25.5 25.3 27.3
 29.  31.6 30.3 32.8 30.7 34.  34.8 31.5 32.1 34.5 26.7 28.3 27.4 28.1
 24.1 28.8 28.6 25.9 26.2 26.9 27.3 27.3 26.3 25.4 25.4 25.8 22.4 25.5
 22.  23.5 22.3]
Train size: 7, Average Absolute Risk Error: 4.6286
Normalized X_train is [[0.96688742]
 [0.78145695]
 [0.98675497]
 [0.9205298 ]
 [0.72847682]
 [0.89403974]
 [0.83443709]
 [0.9205298 ]
 [0.79470199]
 [0.60264901]
 [0.44370861]
 [0.34437086]
 [0.33112583]
 [0.        ]
 [0.18543046]
 [0.44370861]
 [0.64238411]
 [0.72847682]
 [0.98675497]
 [1.        ]
 [0.90066225]
 [0.73509934]
 [0.74834437]
 [0.78145695]
 [0.87417219]
 [0.79470199]
 [0.8807947 ]
 [0.97350993]
 [0.80794702]
 [0.92715232]]
Normalized y_train is [0.72131148 0.49180328 0.85245902 0.57377049 0.52459016 0.63934426
 0.63934426 0.55737705 0.55737705 0.45901639 0.31147541 0.09836066
 0.42622951 0.         0.18032787 0.40983607 0.6557377  0.57377049
 0.72131148 0.45901639 0.75409836 0.42622951 0.45901639 0.75409836
 0.90163934 0.96721311 1.         0.96721311 1.         0.91803279]
Epoch [100/500], Loss: 0.1480
Epoch [200/500], Loss: 0.1266
Epoch [300/500], Loss: 0.1257
Epoch [400/500], Loss: 0.1253
Epoch [500/500], Loss: 0.1257
y_pred_inverse is [31.476074 31.609898 32.02074  32.587902 29.442257 30.341482 32.02074
 30.043606 26.7276   27.740608 26.29081  26.319273 26.543316 26.52181
 26.937277 26.39485  26.300198 26.30615  26.318703 26.305115 26.303444
 26.287369 26.291445 26.283562 26.285334 26.283754 26.284025 26.308193
 26.277119 26.28728  26.290909 26.308193 26.312033 26.408678 27.861046
 26.289738 29.197178 28.620398 31.918545 27.48939  30.265114 32.130306
 32.046276 32.05479  32.336937 28.034319 26.703594 26.361137 26.293882
 27.948578 27.861046 26.806503 26.317564 26.835783 26.32198  26.64065
 27.832745 26.313633 26.4255   26.315279 26.29543  26.30615  26.284231
 26.28509  26.287535 26.30575  26.318132 26.305115 26.330648 26.752806
 28.662607 31.257748 29.744678 32.02074  28.915668 32.00371  32.753414
 31.731634 30.891645 32.77567  27.32743  29.219707 27.005531 28.119915
 26.315279 27.134243 27.616695 27.359777 26.328705 26.4255   26.460045
 26.445248 26.351582 26.336582 26.30994  26.32198  26.285496 26.308193
 26.283089 26.290909 26.286316]
y_test_inverse is [30.4 31.2 31.1 32.8 27.6 27.6 31.8 29.3 26.7 25.1 21.1 22.3 25.2 25.7
 27.4 27.1 22.8 23.3 26.  25.1 25.9 24.  24.2 22.2 23.  22.2 22.9 26.3
 20.6 24.8 23.3 26.7 25.8 27.3 27.4 24.5 29.8 29.2 32.2 28.4 30.7 32.6
 32.8 32.4 32.9 26.9 27.  26.2 23.3 27.9 27.6 27.7 24.3 27.3 25.2 27.7
 27.6 24.3 26.6 25.5 23.5 23.9 21.7 21.3 22.4 24.8 25.5 25.5 25.3 27.3
 29.  31.6 30.3 32.8 30.7 34.  34.8 31.5 32.1 34.5 26.7 28.3 27.4 28.1
 24.1 28.8 28.6 25.9 26.2 26.9 27.3 27.3 26.3 25.4 25.4 25.8 22.4 25.5
 22.  23.5 22.3]
Train size: 30, Average Absolute Risk Error: 1.4554
Normalized X_train is [[0.87838915]
 [0.82256778]
 [0.88437002]
 [0.86443381]
 [0.80661882]
 [0.85645933]
 [0.83851675]
 [0.86443381]
 [0.82655502]
 [0.76874003]
 [0.72089314]
 [0.69098884]
 [0.68700159]
 [0.58732057]
 [0.64314195]
 [0.72089314]
 [0.78070175]
 [0.80661882]
 [0.88437002]
 [0.88835726]
 [0.85845295]
 [0.80861244]
 [0.81259968]
 [0.82256778]
 [0.85047847]
 [0.82655502]
 [0.85247209]
 [0.88038278]
 [0.83054226]
 [0.86642743]
 [0.81060606]
 [0.81858054]
 [0.73484848]
 [0.80263158]
 [0.82256778]
 [0.83054226]
 [0.80063796]
 [0.8245614 ]
 [0.84449761]
 [0.82854864]
 [0.87838915]
 [0.96810207]
 [0.92623604]
 [0.88038278]
 [0.82256778]
 [0.62320574]
 [0.77870813]
 [0.79665072]
 [0.76674641]
 [0.76874003]
 [0.85247209]
 [0.87838915]
 [0.95614035]
 [0.97208931]
 [0.94617225]
 [1.        ]
 [0.92025518]
 [0.88038278]
 [0.8823764 ]
 [0.85446571]
 [0.9023126 ]
 [0.82854864]
 [0.74082935]
 [0.69298246]
 [0.60526316]
 [0.66307815]
 [0.64114833]
 [0.71291866]
 [0.75877193]
 [0.57735247]
 [0.55940989]
 [0.58133971]
 [0.60127592]
 [0.57735247]
 [0.57934609]
 [0.55342903]
 [0.5215311 ]
 [0.45374801]
 [0.54944179]
 [0.54545455]
 [0.6291866 ]
 [0.67503987]
 [0.72089314]
 [0.61722488]
 [0.59130781]
 [0.51953748]
 [0.55940989]
 [0.42982456]
 [0.52551834]
 [0.67105263]
 [0.72089314]
 [0.68700159]
 [0.50757576]
 [0.62719298]
 [0.71491228]
 [0.70295056]
 [0.70813397]
 [0.6953748 ]
 [0.49920255]
 [0.53907496]
 [0.56299841]
 [0.53269537]
 [0.49920255]
 [0.45614035]
 [0.40988836]
 [0.4784689 ]
 [0.52791069]
 [0.5645933 ]
 [0.56937799]
 [0.55342903]
 [0.54066986]
 [0.41148325]
 [0.36204147]
 [0.46411483]
 [0.56937799]
 [0.63636364]
 [0.64433812]
 [0.62041467]
 [0.6092504 ]
 [0.5661882 ]
 [0.59011164]
 [0.60606061]
 [0.58532695]
 [0.59011164]
 [0.60127592]
 [0.62679426]
 [0.64114833]
 [0.63636364]
 [0.66188198]
 [0.67464115]
 [0.71610845]
 [0.70494418]
 [0.71929825]
 [0.64433812]
 [0.64593301]
 [0.68421053]
 [0.62679426]
 [0.46730463]
 [0.41626794]
 [0.4784689 ]
 [0.49920255]
 [0.50079745]
 [0.46092504]
 [0.52950558]
 [0.58532695]
 [0.58532695]
 [0.56937799]
 [0.55023923]
 [0.55023923]
 [0.49760766]
 [0.50079745]
 [0.43859649]
 [0.44497608]
 [0.49601276]
 [0.51196172]
 [0.50558214]
 [0.476874  ]
 [0.44976077]
 [0.39872408]
 [0.37639553]
 [0.52950558]
 [0.58692185]
 [0.59170654]
 [0.54385965]
 [0.57735247]
 [0.55661882]
 [0.55661882]
 [0.57256778]
 [0.54545455]
 [0.54226475]
 [0.56299841]
 [0.56299841]
 [0.52950558]
 [0.4338118 ]
 [0.45614035]
 [0.45295056]
 [0.49282297]
 [0.49601276]
 [0.4784689 ]
 [0.37639553]
 [0.45614035]
 [0.523126  ]
 [0.53748006]
 [0.56778309]
 [0.57416268]
 [0.58373206]
 [0.57735247]
 [0.54226475]
 [0.54704944]
 [0.57416268]
 [0.53748006]
 [0.53588517]
 [0.53269537]
 [0.53748006]
 [0.53907496]
 [0.57894737]
 [0.62838915]
 [0.58851675]
 [0.4354067 ]
 [0.49760766]
 [0.58373206]
 [0.56937799]
 [0.5199362 ]
 [0.50398724]
 [0.48165869]
 [0.48325359]
 [0.4784689 ]
 [0.45454545]
 [0.40510367]
 [0.40510367]
 [0.45614035]
 [0.50717703]
 [0.51674641]
 [0.50079745]
 [0.47208931]
 [0.40988836]
 [0.36682616]
 [0.41307815]
 [0.42902711]
 [0.42105263]
 [0.37480064]
 [0.32695375]
 [0.29186603]
 [0.37480064]
 [0.30781499]
 [0.35247209]
 [0.41148325]
 [0.45614035]
 [0.46411483]
 [0.45933014]
 [0.4784689 ]
 [0.42902711]
 [0.40669856]
 [0.41467305]
 [0.42424242]
 [0.48644338]
 [0.47527911]
 [0.48325359]
 [0.44497608]
 [0.38118022]
 [0.33014354]
 [0.35566188]
 [0.31259968]
 [0.3907496 ]
 [0.36044657]
 [0.3476874 ]
 [0.37001595]
 [0.3891547 ]
 [0.40669856]
 [0.40829346]
 [0.41148325]
 [0.40191388]
 [0.43859649]
 [0.39553429]
 [0.44497608]
 [0.36204147]
 [0.3030303 ]
 [0.29027113]
 [0.22807018]
 [0.17065391]
 [0.13716108]
 [0.10845295]
 [0.09090909]
 [0.06858054]
 [0.02870813]
 [0.06220096]
 [0.14832536]
 [0.22009569]
 [0.27432217]
 [0.30143541]
 [0.3030303 ]
 [0.29665072]
 [0.26475279]
 [0.21371611]
 [0.24401914]
 [0.26794258]
 [0.23763955]
 [0.19617225]
 [0.18022329]
 [0.19457735]
 [0.2169059 ]
 [0.24880383]
 [0.27910686]
 [0.30781499]
 [0.23444976]
 [0.15311005]
 [0.1291866 ]
 [0.1323764 ]
 [0.1722488 ]
 [0.12121212]
 [0.15311005]
 [0.16905901]
 [0.1738437 ]
 [0.14513557]
 [0.17862839]
 [0.27113238]
 [0.3030303 ]
 [0.28070175]
 [0.15151515]
 [0.10366826]
 [0.1291866 ]
 [0.09888357]
 [0.02870813]
 [0.        ]
 [0.09090909]
 [0.23604466]
 [0.26953748]
 [0.35087719]
 [0.3891547 ]
 [0.26634769]
 [0.1738437 ]
 [0.24082935]
 [0.32695375]
 [0.42424242]
 [0.44497608]
 [0.37001595]
 [0.33811802]
 [0.28229665]
 [0.24720893]
 [0.30940989]
 [0.37161085]
 [0.41467305]
 [0.44816587]
 [0.45454545]
 [0.46411483]
 [0.49760766]
 [0.48484848]
 [0.49760766]
 [0.52631579]
 [0.51834131]
 [0.53110048]
 [0.48644338]
 [0.4800638 ]
 [0.51196172]
 [0.56937799]
 [0.55980861]
 [0.57097289]
 [0.58373206]
 [0.55342903]
 [0.59170654]
 [0.6108453 ]
 [0.64593301]
 [0.68261563]
 [0.65709729]
 [0.67623604]
 [0.68580542]
 [0.71291866]
 [0.70015949]
 [0.72089314]
 [0.79425837]
 [0.84370016]
 [0.8261563 ]
 [0.80542265]
 [0.85805423]
 [0.86283892]
 [0.85805423]
 [0.91068581]
 [0.86443381]
 [0.87400319]
 [0.90430622]
 [0.94417863]
 [0.94417863]
 [0.93620415]
 [0.94098884]
 [0.94417863]]
Normalized y_train is [0.83448276 0.73793103 0.88965517 0.77241379 0.75172414 0.8
 0.8        0.76551724 0.76551724 0.72413793 0.66206897 0.57241379
 0.71034483 0.53103448 0.60689655 0.70344828 0.80689655 0.77241379
 0.83448276 0.72413793 0.84827586 0.71034483 0.72413793 0.84827586
 0.91034483 0.93793103 0.95172414 0.93793103 0.95172414 0.91724138
 0.8137931  0.84827586 0.6        0.71034483 0.66896552 0.86896552
 0.84137931 0.84827586 0.88965517 0.92413793 0.89655172 0.93793103
 0.91034483 0.74482759 0.73103448 0.59310345 0.82758621 0.79310345
 0.86896552 0.75862069 0.87586207 0.77931034 0.88965517 0.86206897
 1.         0.94482759 0.79310345 0.73103448 0.8137931  0.86206897
 0.79310345 0.76551724 0.62758621 0.50344828 0.51034483 0.75172414
 0.67586207 0.8        0.79310345 0.52413793 0.47586207 0.46896552
 0.55862069 0.55172414 0.49655172 0.53103448 0.47586207 0.57241379
 0.51724138 0.48965517 0.66206897 0.69655172 0.67586207 0.5862069
 0.46896552 0.54482759 0.60689655 0.34482759 0.50344828 0.50344828
 0.73103448 0.62068966 0.45517241 0.65517241 0.66206897 0.65517241
 0.65517241 0.5862069  0.4        0.48275862 0.42758621 0.32413793
 0.3862069  0.28275862 0.32413793 0.46896552 0.42758621 0.55862069
 0.3862069  0.37241379 0.3862069  0.19310345 0.20689655 0.31034483
 0.48965517 0.50344828 0.52413793 0.55862069 0.53103448 0.44827586
 0.43448276 0.42758621 0.44827586 0.48965517 0.48275862 0.48965517
 0.48275862 0.44827586 0.62758621 0.56551724 0.63448276 0.50344828
 0.57931034 0.55172414 0.50344828 0.45517241 0.48965517 0.31724138
 0.24827586 0.33103448 0.36551724 0.34482759 0.35862069 0.52413793
 0.44827586 0.48275862 0.46206897 0.42068966 0.4        0.31034483
 0.4137931  0.26896552 0.28275862 0.4        0.44137931 0.36551724
 0.33103448 0.32413793 0.24827586 0.20689655 0.39310345 0.43448276
 0.46206897 0.42758621 0.42758621 0.4        0.4137931  0.46206897
 0.51034483 0.51034483 0.47586207 0.46206897 0.46206897 0.37931034
 0.31034483 0.37241379 0.43448276 0.46206897 0.35862069 0.19310345
 0.30344828 0.4        0.48965517 0.56551724 0.52413793 0.57241379
 0.54482759 0.46206897 0.49655172 0.50344828 0.53103448 0.39310345
 0.48275862 0.50344828 0.49655172 0.48965517 0.52413793 0.48275862
 0.31034483 0.46896552 0.50344828 0.46896552 0.45517241 0.44827586
 0.42068966 0.43448276 0.4        0.3862069  0.36551724 0.36551724
 0.39310345 0.4137931  0.45517241 0.42068966 0.25517241 0.32413793
 0.37931034 0.37931034 0.39310345 0.37241379 0.29655172 0.23448276
 0.24827586 0.28275862 0.32413793 0.31724138 0.35172414 0.39310345
 0.39310345 0.33103448 0.35862069 0.31034483 0.26896552 0.19310345
 0.22068966 0.37931034 0.46896552 0.44827586 0.39310345 0.32413793
 0.22758621 0.28965517 0.22068966 0.31034483 0.31034483 0.32413793
 0.32413793 0.31034483 0.34482759 0.35172414 0.35862069 0.31034483
 0.36551724 0.25517241 0.33103448 0.28965517 0.24827586 0.20689655
 0.15172414 0.10344828 0.08965517 0.11724138 0.10344828 0.03448276
 0.         0.0137931  0.19310345 0.19310345 0.24137931 0.27586207
 0.20689655 0.26206897 0.23448276 0.17241379 0.2        0.14482759
 0.15172414 0.15862069 0.17931034 0.22758621 0.20689655 0.1862069
 0.22758621 0.26896552 0.33103448 0.33793103 0.26206897 0.15862069
 0.29655172 0.28275862 0.02068966 0.2137931  0.2        0.16551724
 0.2137931  0.31724138 0.31724138 0.28275862 0.15862069 0.13793103
 0.17241379 0.15862069 0.12413793 0.10344828 0.13103448 0.20689655
 0.36551724 0.42758621 0.42758621 0.19310345 0.17931034 0.26206897
 0.32413793 0.4        0.28965517 0.33103448 0.27586207 0.25517241
 0.28275862 0.31724138 0.33103448 0.35172414 0.37241379 0.34482759
 0.42758621 0.44827586 0.46206897 0.42758621 0.42068966 0.48275862
 0.51724138 0.4137931  0.43448276 0.47586207 0.57241379 0.49655172
 0.53793103 0.53793103 0.53103448 0.51724138 0.53793103 0.53793103
 0.60689655 0.59310345 0.57241379 0.59310345 0.60689655 0.57931034
 0.64137931 0.64137931 0.68275862 0.77931034 0.65517241 0.66206897
 0.8        0.73793103 0.74482759 0.71034483 0.72413793 0.7862069
 0.8137931  0.80689655 0.84137931 0.88275862 0.88275862]
Epoch [100/500], Loss: 0.1009
Epoch [200/500], Loss: 0.0505
Epoch [300/500], Loss: 0.0504
Epoch [400/500], Loss: 0.0503
Epoch [500/500], Loss: 0.0503
y_pred_inverse is [31.576153 31.873405 32.92263  34.51728  29.153145 30.062662 32.92263
 29.776814 26.42527  27.165365 23.018358 24.74462  26.19891  26.153639
 26.58581  25.746195 23.786953 24.139292 24.72014  24.080564 23.982685
 22.468323 23.108444 21.785666 22.10439  21.821577 21.87006  24.239298
 20.622364 22.453234 23.033373 24.239298 24.42641  25.814102 27.259478
 22.853199 28.853237 28.130709 32.650837 26.979906 29.991495 33.213432
 32.990005 33.012394 33.789387 27.456575 26.402634 25.54247  23.39593
 27.358156 27.259478 26.493208 24.671186 26.516266 24.84253  26.334726
 27.23516  24.499846 25.88201  24.573277 23.502455 24.139292 21.906424
 22.065365 22.498499 24.119715 24.695665 24.080564 25.086473 26.447905
 28.184042 31.095976 29.480053 32.92263  28.504036 32.8777   34.997982
 32.170662 30.570066 35.063126 26.863997 28.8805   26.632172 27.554993
 24.573277 26.724903 27.072638 26.887178 25.037947 25.88201  25.995188
 25.949915 25.450417 25.207787 24.328796 24.84253  22.132511 24.239298
 21.702347 23.033373 22.285679]
y_test_inverse is [30.4 31.2 31.1 32.8 27.6 27.6 31.8 29.3 26.7 25.1 21.1 22.3 25.2 25.7
 27.4 27.1 22.8 23.3 26.  25.1 25.9 24.  24.2 22.2 23.  22.2 22.9 26.3
 20.6 24.8 23.3 26.7 25.8 27.3 27.4 24.5 29.8 29.2 32.2 28.4 30.7 32.6
 32.8 32.4 32.9 26.9 27.  26.2 23.3 27.9 27.6 27.7 24.3 27.3 25.2 27.7
 27.6 24.3 26.6 25.5 23.5 23.9 21.7 21.3 22.4 24.8 25.5 25.5 25.3 27.3
 29.  31.6 30.3 32.8 30.7 34.  34.8 31.5 32.1 34.5 26.7 28.3 27.4 28.1
 24.1 28.8 28.6 25.9 26.2 26.9 27.3 27.3 26.3 25.4 25.4 25.8 22.4 25.5
 22.  23.5 22.3]
Train size: 365, Average Absolute Risk Error: 0.9075
Train size: 7 days -> Average Absolute Risk Error: 4.6286
Train size: 30 days -> Average Absolute Risk Error: 1.4554
Train size: 365 days -> Average Absolute Risk Error: 0.9075

# **Model Performance Analysis Based on Theoretical Findings**  

This experiment validates the **theoretical results** from the paper **"Uniform Convergence of Lipschitz Functions with Dependent Gaussian Samples"**, accepted at **ICASSP 2025**.  

## **1Ô∏è‚É£ Expected Error Decay with Increased Training Data**  
According to the paper's findings, the **expected generalization error** should **decrease** as the number of training samples increases, even in the presence of **dependent data**. Our results confirm this:  

| **Training Size** | **Average Absolute Risk Error (AARE)** |
|------------------|--------------------------------|
| **7 days**      | **4.6286¬∞C** (**High Error**)  |
| **30 days**     | **1.4554¬∞C** (**Significant Improvement**) |
| **365 days**    | **0.9075¬∞C** (**Best Accuracy**) |

- **Small training sizes (7 days)** ‚Üí Poor generalization, high error.  
- **Larger training sizes (365 days)** ‚Üí Stronger convergence, lower error.  

---

## **2Ô∏è‚É£ Impact of Temporal Dependence on Learning**  
- The paper establishes that learning under **dependent Gaussian samples** still achieves **uniform convergence**, though at a rate influenced by dependency levels (`Œ≥`).  
- Since temperature data exhibits **strong temporal dependencies**, we observe **gradual improvement** in predictions as training size grows.  
- This aligns with the **empirical and theoretical results** of the paper, confirming that **deep learning models can generalize well even with correlated inputs**.

---

## **3Ô∏è‚É£ Practical Implications**  
üîπ **For short-term forecasting (7-30 days of training data)** ‚Üí High variance in predictions, unreliable generalization.  
üîπ **For long-term forecasting (365 days of training data)** ‚Üí Improved model stability, aligned with uniform convergence predictions.  
üîπ **Real-world takeaway** ‚Üí Dependent time-series data **does not prevent generalization**, but **larger training sets are essential** for accuracy.  

---

### **Conclusion**  
‚úÖ **Experimental results support the paper‚Äôs theoretical uniform convergence bounds.**  
‚úÖ **Learning under dependent data is feasible, with sufficient training samples.**  
‚úÖ **Deep neural networks can effectively model temperature dependencies over time.**  
‚úÖ **Findings reinforce the applicability of dependent learning in real-world forecasting tasks.**